.projects {
    background-color: cornflowerblue;
}



.title {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.projectsItems {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 1155px) {
    .projectsItems {
        justify-content: center;
    }
}