$mainTitleColor: #000000;
$secondaryTitleColor: #fb503b;
$mainTextColor: #54545f;
$secondaryTextColor: #ffffff;
$bgColor: #6e7fd1;
$bgSecondColor: #6e7fd1;
$bgThirtyColor: #f8f9fa;
$bgFooterColor: #282828;
$footerColor: #f5deb3;
$btnBackgroundColor: #142eb5;




