.title {
    text-align: center;
    margin-bottom: 28px;
    .span {
        font-size: 20px;
        color: #fb503b;
        font-weight: 600;
        font-family: "Barlow", sans-serif;
    }
    .h3 {
        font-size: 35px;
        line-height: 1.25;
    }
}



