@import '../../common/styles/Variables';

.main {
  min-height: 100vh;
  background-image: url("./../../common/images/1.jpg");

  .mainContainer {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 1040px) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
    }

    .mainBlock {
      max-width: 500px;

      .hello {
        font-size: 30px;
        margin-bottom: 0;
        color: $secondaryTextColor;
        @media (max-width: 1040px) {
          font-size: 18px;
          margin-bottom: 0;
        }
      }

      .name {
        font-size: 65px;
        margin-bottom: 20px;
        color: $secondaryTextColor;
        line-height: 1.1;
        @media (max-width: 1040px) {
          font-size: 35px;
          margin-bottom: 14px;
        }
      }

      .job {
        font-size: 22px;
        margin-bottom: 25px;
        color: $secondaryTextColor;
        @media (max-width: 1040px) {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }

      .description {
        font-size: 18px;
        margin-bottom: 30px;
        color: $secondaryTextColor;
        @media (max-width: 1040px) {
          font-size: 16px;
          margin-bottom: 30px;
        }
      }

      .buttonsContainer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
    }

    .photo {
      width: 300px;
      height: 400px;
      margin-right: 30px;
      background-image: url('../../common/images/avatar.jpg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 1040px) {
        width: 200px;
        height: 300px;
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }
}





