.skills {
    /*background-color: greenyellow;*/
    background-color: #f8f9fa;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    margin: 80px auto;
}

.title {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.skillsItems {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}