.about {
    min-height: 100vh;
    background-color: cornflowerblue;
    background-image: url("./../../common/images/1.jpg");
}


.aboutContainer {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mainBlock {
    width: 500px;
    color: wheat;
}

.nameContainer {
    font-size: 30px;
    margin-bottom: 20px;
}

.name {
    font-size: 45px;
}

.job {
    font-size: 25px;
    margin-bottom: 25px;
}

.description {
    font-size: 22px;
    margin-bottom: 30px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.photo {
    width: 300px;
    height: 400px;
    margin-right: 30px;
    background-image: url('../../common/images/avatar.jpg');
    background-size: cover;
    background-position: center;
}
