@import '../../common/styles/Variables';

.footer {
    background-color: $bgFooterColor;
    color: $footerColor;
    .footerContainer {
        margin: 40px auto;
        display: flex;
        justify-content: center;
    }
}

