@import '../../common/styles/Variables';

.footer {
  background-color: $bgFooterColor;
  color: $footerColor;

  .footerContainer {
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }
}

