@import 'common/styles/Variables.scss';

.App {
  box-sizing: border-box;
  .cursor {
    background-color: transparent;
    border: 1.5px solid rgba(251, 80, 59, 0.6);
    box-shadow: 0 0 1px rgba(251, 80, 59, 0.5);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    &:before{
      content: "";
      display: block;
      position: absolute;
      width: 5px; height: 5px;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(251, 80, 59, 1);
      border-radius: 100%;
    }
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  color: $mainTextColor;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3;
  color: $mainTitleColor;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

