@import '../../common/styles/Variables';

.nav {
  border: 1px solid red;
  width: 400px;
  display: flex;
  justify-content: space-evenly;

  .link {
    position: relative;
    margin: 0 35px 0 0;
    color: $mainTitleColor;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    transition: all .8s ease;
    text-decoration: none;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 10px;
      background-color: #282828;
      bottom: 0;

    }
    &:hover {
      &::after {
       width: 20px;
      }


    }
  }

  .nonAnimated {
    color: white;
  }

  .animated {
    color: black;
  }
}

