@import '../../common/styles/Variables';

.nav {
  border: 1px solid red;
  width: 400px;
  display: flex;
  justify-content: space-evenly;

  .link {
    margin: 0 35px 0 0;
    color: $mainTitleColor;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    transition: all .8s ease;
    text-decoration: none;
    cursor: pointer;
  }

  .nonAnimated {
    color: white;
  }

  .animated {
    color: black;
  }
}

