.nav {
    border: 1px solid red;
    width: 400px;

    display: flex;
    justify-content: space-evenly;

}

.link {
    text-decoration: none;
    cursor: pointer;
}

.nonAnimated {
    color: white;

}

.animated {
    color: black;

}